@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --bg-dark: #1C1C24;

    --text-main: #B9BAC4;
    --text-white: #FFFFFF;
    --text-light-gray: #707B95;
    --text-dark-purple: #2E2A4E;
    --text-placeholder: #66687b;

    --btn-signin-grad-start: #3d4ad7;
    --btn-signin-grad-end: #6571E6;
    --btn-blue-grad-start: #4249F1;
    --btn-blue-grad-end: #4078F4;
    --btn-red-grad-start: #DF252B;
    --btn-red-grad-end: #EF4A83;
    --btn-turquoise-grad-start: #3C95E6;
    --btn-turquoise-grad-end: #47E9BD;

    --border-pink: #C440A6;
    --border-gray: #262736;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-dark);
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}